<div id="content">
  <div *ngIf="!isValidRequest">
    <!-- Willkommen beim Penis-Checker! Hier kann geprüft werden, ob jemand im Club
    ist
    <mat-form-field appearance="fill">
      <mat-label>Name eingeben</mat-label>
      <input
        matInput
        placeholder="John F. Clubdergroßenpenisse"
        [formControl]="userName"
        required
      />
      <mat-error *ngIf="userName.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Geburtsdatum</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">LOGIN</button> -->
  </div>

  <div *ngIf="isValidRequest && isActiveMember" class="certificate">
    <h2>{{ name }}, geboren am {{ birthDate | date: "dd.MM.yyyy" }}</h2>
    <h1>hat einen sehr großen Penis und genau zwei Hoden.</h1>
    <h2>{{ name }} ist {{ memberState }} im Club der großen Penisse.</h2>
    <span
      >Dieses Zertifkat ist nur in Verbindung mit einem amtlichen
      Lichtbildausweis gültig.</span
    >
  </div>

  <div *ngIf="isValidRequest && !isActiveMember" class="certificate">
    <h2>{{ name }}, geboren am {{ birthDate | date: "dd.MM.yyyy" }}</h2>
    <h1><u>hat keinen großen Penis.</u></h1>
  </div>
</div>
