<div id="lang-ding-page">
  <p id="club-name">Club der großen Penisse</p>
  <p id="scroll-down">🠗</p>

  <p class="faq">Wie kann ich Mitglied werden?</p>

  <div class="answer-div">
    <p class="answer">
      Spreche ein bestehendes Mitglied an. Um Mitglied zu sein musst du einen
      großen Penis und genau zwei Hoden haben. Aber keine sorge, du musst dein
      Gemächt niemandem zeigen, hierfür wurde von dem Club der großen Penisse
      ein spezielles Validierungsverfahren entwickelt, sodass deine Privatshäre
      geschützt bleibt.
    </p>
  </div>
  <p class="faq">Wie finde ich ein bestehendes Mitglied?</p>
  <div class="answer-div">
    <p class="answer">
      Indem es etwas sagt wie "Ich bin im Club der großen Penisse" oder "Ich
      habe einen großen Penis". Eventuell trägt es aber auch ein "Club der
      großen Penisse", "Orden der großen Penes" oder "Dödel.Club" T-Shirt. Es
      gibt noch eine Menge weiterer Erkennungszeichen (Dödel.Club-Kaffeetasse,
      -Schnürsenkel, -Mütze, ...). Also einfach die Augen offen halten.
    </p>
  </div>

  <p class="faq">
    Ich habe eine Frau "Wie findest du meinen Penis?" gefragt und ihre Antwort
    war "Mit einem Mikroskop". Kann ich dennoch Mitglied im Club der großen
    Penisse werden?
  </p>
  <div class="answer-div">
    <p class="answer">Nein</p>
  </div>

  TODO: Interaktiver Test, ob man als Mitglied geeignet ist: -> Was hast du für
  ein Geschlecht (m/w/d)? -> hast du einen Penis (ja, nein, vielleicht) -> wenn
  ja: ist dein Penis groß? ja / nein / vielleicht -> wenn ja: wie viele Hoden
  hast du? Zahl eingeben mit 3 kommastellen, größer als -1 -> wenn genau zwei:
  Es scheint, als wärst du geeignet. Bitte Informiere dich über das FAQ wie du
  mitglied werden kannst. -> sonst: Leider scheinst du nicht die Voraussetzungen
  für eine mit Glied Schaft im Club der Großen Penisse zu erfüllen, es steht dir
  jedoch frei den Test jederzeit zu wiederholen.

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <p class="information">
    Kein Impressum: Diese Seite ist nicht gewerblich und dient ausschließlich
    der privaten Nutzung.
  </p>

  <p class="information">
    Datenschutz: Diese Seite verwendet keine Cookies. Alle Eingaben, welche Sie
    auf dieser Seite tätigen, werden ausschließlich auf Ihrem eigenen Endgerät
    verarbeitet und niemals an den Betreiber der Seite oder dritte
    weitergegeben.
  </p>
</div>
